<h1>Users</h1>
<div>
<ul>
  <li *ngFor="let u of users">
    <span>Name:{{u.name}}<br>Address:{{u.address.street}}<br>Geo-Latitude:{{u.address.geo.lat}}<br>Geo-Longitude:{{u.address.geo.lng}}<br>Business:{{u.company.bs}}</span>
  </li>
</ul>
</div>
<!-- 
<div>
  <p style="outline: black;">The message from child is {{messages}}</p>
</div>

<div>
  
      <span>{{datas.name}}</span><span>{{datas.id}}</span>
    
</div>

<div>
  <input type="text" [(ngModel)]="data.name" placeholder="Name" />
  <p>Hello {{data.name}}</p>
</div> -->
   <h2>My Heroes</h2>
   <ul class="heroes">
     <li *ngFor="let hero of heroes"
       [class.selected]="hero === selectedHero"
       (click)="onSelect(hero)" >
       <a style="text-decoration: none;">
       <span class="badge">{{hero.id}}</span>
      {{hero.name}}</a>
     </li>
   </ul>
<ul>
<li *ngFor="let element of myarr">
  <span (click)="onClick(element)" >{{element}}</span>
</li>
</ul>
   <!-- <div *ngIf="selectedHero" >
     <h2>{{selectedHero.name | uppercase}} Details</h2>
     <div><span>id: </span>{{selectedHero.id}}</div>
     <div>
       <label>name:
         <input [(ngModel)]="selectedHero.name" placeholder="name"/>
       </label>
     </div>
   </div> -->
            <!-- <div>
              <h2>Emitted Saved {{emittedsaver}}</h2>
            </div>
   <div>
     <p style="visibility: hidden;" (onchange)="onpeoplechange(whatpeople)">{{whatpeople}}</p>
   </div> -->
   <!-- <app-hero-detail (myevent)="messages=$event" [scode]="secretcode" [peoples]="people" (peopleEvent)="whatpeople=$event"  [datacode]="mydata" (send)="emittedsaver=$event">
         
   </app-hero-detail> -->


